<head>
  <title>
      DoConnect
  </title>
</head>

<body>
    <img src="../assets/logo.png">
    <h3>Excited...! Are you </h3>
    <button style="text-align: center;font-size:20px;border-radius: 18px;Border: size 1px;"><a routerLink="/user">User</a></button><br><br>
    <button style="text-align: center;font-size:20px;border-radius: 18px;border: size 1px;"><a routerLink="/admin">Admin</a></button>
    <h3>About:-</h3>
    <p>
        doConnect is a popular Q and A form in which techniques questions was asked and answered.
    </p>
    

            
  
</body>
<router-outlet>
      
</router-outlet>
      

