<div>
    <img src="../assets/logo.png" alt="Logo">
    <h2>Hello Admin. 
        Great to see you.
    </h2>
    <button style="text-align: center; font-size: 16px;border-radius: 17px;Border: size 1px;" routerLink="/login">Log In</button>
    <button style="text-align: center; font-size: 16px;border-radius: 17px;Border: size 1px;" routerLink="/signup">Sign Up</button>

</div>
