
<div>
    <img src="../assets/logo.png" alt="Logo">
    <h2>Hello User, Yor are Welcome..!</h2>
    <button style="text-align: center; font-size: 16px;border-radius: 17px;Border: size 1px;" routerLink="/signin" >Sign In</button>
    <button style="text-align: center; font-size: 16px;border-radius: 17px;Border: size 1px;" routerLink="/newuser">Sign Up</button>


</div>


